<%- include ("../partial/header.ejs")%>
    <div class="col-md-5 col-sm-9 m-about">
        <div class="bg-image col-md-5" style="background-size: cover;height: 100%; width: 100%;">
            <div class="col-md-5" style="margin-left: 29%;">
                <img src="/images/logo.png" width="30%" height="20%">
            </div>
            <div class="card tcard">
                <div class="d-block u">
                    <p class="card-text">
                        There are countless benefits that are brought about by education primarily regarding the quality of an individual's life and the ease of fulfillment of personal ambitions.
                    </p>
                    <p>
                        Since the pandemic has hit us everythig has shifted online so to make life easier for students or for those who want to learn and share their knowledge we have developed an education blog named as <i><b>ED-Blog.</b></i>
                    </p>
                    <p>
                        They can also add photos regarding their topic for better understanding of the topics that they want to present. </p>
                    <p>
                        Our blog is easy to understand which makes it user friendly.
                    </p>
                </div>
            </div>
            <div class="container">
                <div class="i">
                    <h2>Developer's Information</h2>
                </div>
            </div><br>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img src="/images/Arzoo.jpeg" alt="Arzoo_pic" class="dev-img-1">
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="card tcard">
                            <div class="about-heading">
                                <h3>Arzoo Naushad</h3>
                            </div>
                            <p class="about-content">
                                Hey! <br> I am <b> Arzoo Naushad </b> currently I am in my final year pursuing BCA from <b> Bharati Vidyapeeth university, New Delhi </b>. I believe learning has no age bar we can learn anything when we desire to learn
                                it . As a student I can relate with you all and understand the importance of easy and crisp notes . So decided to develop this blog for everyone who enjoys learning in a smart way. You can always share your valuable feedback
                                which will help us to improve our blog. For more information you can connect with me on my social media pages. Till then happy learning!
                            </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img src="/images/Mypic.jpg" alt="Pawan_pic" class="dev-img-2">
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="card tcard">
                            <div class="about-heading">
                                <h3>Pawan Kumar</h3>
                            </div>
                            <p class="about-content">
                                Hey! <br> I am <b> Pawan Kumar </b> , currently I am in my final year pursuing BCA from <b> Bharati Vidyapeeth university, New Delhi </b>. I am also a full stack web developer . I enjoy learning anything related to technology.
                                During my learning journey I realized the importance of good and clear notes, hence decided to develop a blog which is easy for all the learners, so that they can learn in an effective manner . I hope ,I am helping you
                                all in your learning journey . For more information you can connect with me on my social media pages. Till then happy learning!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="i text-center">
            <h2>Education Blog</h2>
        </div>
        <div class="text-center d-block">
            <h3 class="h">Vision</h3>
            <p class="d">
                Bring inspiration and joy to people, everywhere, everyday.
            </p>
        </div>
    </div>
    <%- include ("../partial/footer.ejs")%>