<%- include("../partial/header.ejs") %>

    <main>
        <section>
            <div class="container-fluid">
                <b5-row>
                    <div class="col-12">
                        <h1>LogOut</h1>
                    </div>
                </b5-row>
            </div>
        </section>
    </main>



    <%- include("../partial/footer.ejs") %>